{% extends 'base.html' %}
{% block title %} Notelist {% endblock %}
{% block content %}

<div class="row">
    <div class="col">
        <table style="margin-left:auto; margin-right:auto;" id="notelistTable">
            {% for row in notes %}
                <tr>
                    <td>
                    <form  action= "{% url 'note' %}" method="GET" >
                        <button type="submit" class="btn btn-link" value="{{row.id}}" name ="id">{{row.title}}</button>
                        <br>
                        <label>Tags: {{row.tag}}</label>
                        <br>
                        <label>Author: {{row.author}}</label>
                        <br>
                    </form>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
    <div class="col">
        <table style="margin-left:auto; margin-right:auto;">
            <tr>
                <th>
                    <label> Filter by: </label>
                    <br>
                    <input type="checkbox" id="School"> 
                    <label>  School: </label> 
                    <input type="text" for="School">
                    <br>
                    <input type="checkbox" id="CourseCode"> 
                    <label>  Course Code: </label> 
                    <input type="text" for="CourseCode">
                    <br>
                    <input type="checkbox" id="User"> 
                    <label>  User: </label> 
                    <input type="text" for="User">
                    <br>
                    <button class="btn-secondary" type="submit">Filter</button>
                </th>
            </tr>
        </table>
    </div>
</div>  

<script>
    document.getElementById("notelistTable").addEventListener("load", sampleList("notelistTable"));
    function sampleList(id){
        var tableid = document.getElementById(id);
        if(tableid.childNodes.id == null){
            var samplerow = tableid.insertRow(0);
            var samplecell = samplerow.insertCell(0);
            samplecell.innerHTML = "<td> <form action= '{% url 'note' %}' method='GET' >" +
                                    "<button type='submit' class='btn btn-link' value='sample' name = 'id'> To sample </button>" +
                                    "<br>" + "<label>Tag: sample tags </label>" + "<br>" + "<label>Author: sampleuser </label>";
        }
    }
</script>

{% endblock %}
