{% extends 'base.html' %}
{% block title %} Note {% endblock %}
{% block content %}
<div class="row">
    <div class="col" style="margin-left:25%; margin-right:auto;">
        {% for notes in note %}
        <h1> {{notes.title}} </h1>
        <label>Author: {{notes.author}} </label>
        <br>
        <label>Course Code: {{notes.coursecode}} </label>
        <br>
        <label>Date Posted: {{notes.date_posted}} </label>
        <div class="card" style="align-items: center;">
            <label>{{notes.content}}</label>
        </div>
        {% endfor %}
    </div>
    <div class="col">
        <table style="margin-left:auto; margin-right:auto;">
            <tr>
                <th>
                    <input type="radio" id="PDF" name="filetype" checked>
                    <label for="PDF">PDF</label><br>
                    <input type="radio" id="PPT" name="filetype">
                    <label for="PPT">PowerPoint</label><br>
                    <input type="radio" id="image" name="filetype">
                    <label for="image">Image</label><br>
                    <button class="btn-secondary" type="submit">Download Notes</button>
                </th>
            </tr>
        </table>
    </div>
</div>
{% endblock %}